@using EPR.Calculator.Frontend.ViewModels;
@using EPR.Calculator.Frontend.Constants;
@model SendBillingFileViewModel;

@{
    Layout = "_Layout";
}
<partial name="_BackLinkPartialNew" model="(Model.BackLink, Model.CurrentUser,Model.RunId)" />
<div class="govuk-width-container ">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <br />
            @using (Html.BeginForm(ActionNames.Submit, ControllerNames.SendBillingFile, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("RunId", Model.RunId)

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend></legend>
                                <span class="govuk-caption-l">@Model.CalcRunName</span>
                                <h1 class="govuk-heading-l">@Model.SendBillFileHeading</h1>

                                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--invisible">
                                <h3 class="govuk-body-m">@Model.ConfirmationContent</h3>

                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-visually-hidden">Warning</span>
                                        @Model.WarningContent
                                    </strong>
                                </div>
                            </fieldset>
                        </div>

                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                @ActionLinkLabels.SendBillingFile
                            </button>
                            <a href="@Url.Action(ActionNames.Index,ControllerNames.Dashboard)" class="govuk-link govuk-!-margin-left-4">@ActionLinkLabels.ReturnToDashBoard</a>
                        </div>
                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>