@using EPR.Calculator.Frontend.ViewModels
@using EPR.Calculator.Frontend.Constants
@model IEnumerable<CalculationRunViewModel>

@if (Model == null)
{
    <p class="govuk-body">There are no calculations for this financial year.</p>
}
else
{
    <dl class="govuk-summary-list">
        @if (Model != null)
        {
            foreach (var run in Model)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                            @if (run.ShowRunDetailLink)
                            {
                                <a href="/ViewCalculationRunDetails/@run.Id" class="govuk-link govuk-link--no-visited-state">@run.Name</a>
                            }
                            else
                            {
                                @run.Name
                            }
                        </h3>
                        <p class="govuk-body">
                            Calculation ID: @run.Id
                            <br />
                            Date: @run.CreatedAt
                            <br />
                            Run by: @run.CreatedBy
                        </p>
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        @if (run.Status is "RUNNING" or "ERROR")
                        {
                            <strong class="@run.TagStyle">
                                @run.Status
                            </strong>
                        }
                    </dd>
                </div>
            }
        }
    </dl>
}