@model List<DefaultSchemeParameters>;

@{
    var IsAmount = @ViewData["IsDisplayPrefix"] as bool?;
}


<dl class="govuk-summary-list govuk-!-margin-bottom-9">

    @if (Model != null)
    {

        @foreach (var item in Model)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @item.ParameterCategory
                </dt>
                <dd class="govuk-summary-list__value">
                    @{

                        if ((@item.ParameterCategory.Contains("Percent") || @item.ParameterType.Contains("percent")))
                        {
                            @(item.ParameterValue == 0 ? string.Format("{0:F0}{1}", @item.ParameterValue, "%") : string.Format("{0:F2}{1}", @item.ParameterValue, "%"));
                        }
                        else if ((@item.ParameterCategory.Contains("Amount") || IsAmount == true))
                        {
                            string formattedValue;
                            if (item.ParameterValue < 0)
                            {
                                formattedValue = string.Format("{0}{1}{2}", "-", "£", item.ParameterValue.ToString("F2").Trim('-'));
                            }
                            else if (item.ParameterValue == 0)
                            {
                                formattedValue = string.Format("{0}{1:F0}", "£", item.ParameterValue);
                            }
                            else
                            {
                                formattedValue = string.Format("{0}{1:F2}", "£", item.ParameterValue);
                            }
                            @formattedValue
                           
                        }
                        else
                        {
                            @item.ParameterValue
                        }
                    }                    
                </dd>
               
            </div>
        }
    }
</dl>