@model List<DefaultSchemeParameters>;

@{
    var IsAmount = @ViewData["IsDisplayPrefix"] as bool?;
}


<dl class="govuk-summary-list govuk-!-margin-bottom-9">

    @if (Model != null)
    {

        @foreach (var item in Model)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @item.ParameterCategory
                </dt>
                <dd class="govuk-summary-list__value">
                    @{

                        if (@item.ParameterCategory.Contains("Percent") && item.ParameterValue != 0)
                        {
                            @string.Format("{0}{1}", @item.ParameterValue, "%");
                        }
                        else if ((@item.ParameterCategory.Contains("Amount") || IsAmount == true) && item.ParameterValue != 0)
                        {
                            @string.Format("{0}{1}", "£", @item.ParameterValue);
                        }
                        else
                        {
                            @item.ParameterValue
                        }
                    }                    

                </dd>
               
            </div>
        }
    }
</dl>