@using System.Globalization
@model SchemeParametersViewModel;

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

    @if (Model != null)
    {
        var isAmount        = @Model.IsDisplayPrefix;
        var culture = CultureInfo.CreateSpecificCulture("en-GB");
        culture.NumberFormat.CurrencySymbol = "£";
        culture.NumberFormat.CurrencyPositivePattern = 0;
        culture.NumberFormat.CurrencyGroupSeparator = ",";

        @foreach (var item in Model.DefaultSchemeParameters)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @item.ParameterCategory
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        if ((@item.ParameterCategory.Contains("Percent") || @item.ParameterType.Contains("percent")))
                        {
                            string formattedValue = item.ParameterValue == 0
                                ? string.Format("{0:F0}{1}", item.ParameterValue, "%")
                                : string.Format("{0:F2}{1}", item.ParameterValue, "%");

                            @formattedValue
                        }
                        else if ((@item.ParameterCategory.Contains("Amount") || isAmount))
                        {
                            var precision          = item.ParameterValue == 0 ? 0 : 2;
                            var formattedValue = item.ParameterValue < 0
                                ? "-" + Math.Abs(item.ParameterValue).ToString($"C{precision}", culture)
                                : item.ParameterValue.ToString($"C{precision}", culture);

                            @formattedValue
                        }
                        else
                        {
                            @item.ParameterValue
                        }
                    }
                </dd>

            </div>
        }
    }
</dl>
