@using EPR.Calculator.Frontend.Extensions
@model CalculationRunViewModel

<div class="govuk-summary-list__row">
    <dl>
        <dt class="govuk-summary-list__key">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                @if (Model.ShowRunDetailLink)
                {
                    <a href="@Model.RunDetailLink" class="govuk-link govuk-link--no-visited-state">
                        @Model.RunName
                    </a>
                }
                else
                {
                    @Model.RunName
                }
            </h3>

            <p class="govuk-body">
                Calculation ID: @Model.RunId<br />
                Date: @Model.CreatedAt.ToUKDateTimeDisplay()<br />
                Run by: @Model.CreatedBy
            </p>
        </dt>
    </dl>

    @if (Model.ShowStatus)
    {
        <dd class="govuk-summary-list__actions" style="text-align: center;">
            <strong class="@Model.TagStyle">
                @Model.RunClassification.GetDisplayName()
            </strong>
        </dd>
    }
</div>
