@using EPR.Calculator.Frontend.ViewModels
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model CalculatorRunStatusUpdateViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Download.js"></script>
<partial name="_BackLinkPartial" model="(Model.BackLink, Model.CurrentUser)" />
<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row caclulator-details">
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m calculator-run-h2">
                @Model.Data.CalcName
            </h2>
            <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
                <div class="gem-c-attachment__thumbnail">
                    <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#">
                        <img src="~/images/file.png" alt="Results file download" width="99px;" style="padding-top:5px;">
                    </a>
                </div>
                <h2 class="gem-c-attachment__title govuk-body">
                    <a href="javascript:void(0)" 
                        onclick="downloadFile('@Model.DownloadResultURL', '@Model.DownloadErrorURL', event, '@Model.DownloadTimeout', '@HttpContextAccessor.HttpContext?.Session.GetString("accessToken")');" 
                        class="govuk-link" 
                        target="_self">Download</a>
                        <br />
                    ID: @Model.Data.RunId
                </h2>
                <p class="gem-c-attachment__metadata govuk-body">CSV<br>@Model.Data.CreatedDate<br>@Model.Data.CreatedTime</p>               
            </section>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">What do you want to do with this calculation?</h1>
            @using (Html.BeginForm("DeleteCalculation", "CalculationRunDetails", FormMethod.Post))
            {
                <div class="@(Model.Errors != null ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="delete_button" name="deleteChecked" type="radio" value="true">
                        <label class="govuk-label govuk-radios__label" for="delete_button">
                            Delete (this cannot be undone)
                        </label>
                        <input type="hidden" asp-for="@Model.Data.RunId" name="runId" />
                        <input type="hidden" asp-for="@Model.Data.CalcName" name="calcName" />
                        <input type="hidden" asp-for="@Model.Data.CreatedDate" name="createdDate" />
                        <input type="hidden" asp-for="@Model.Data.CreatedTime" name="createdTime" />
                    </div>
                    <br>
                    @if (Model.Errors != null)
                    {
                        <p id="file-calc-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Model.Errors.ErrorMessage
                        </p>
                    }
                </div>

                <div class="govuk-button-group">
                    <button id="btnContinue" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a href="/" class="govuk-link">Return to the dashboard</a>
                </div>
            }
        </div>
    </div>
</main>
