@using EPR.Calculator.Frontend.ViewModels.Enums
@using EPR.Calculator.Frontend.Helpers
@model ClassifyCalculationRunScenerio1ViewModel
@{
    var calcDetails = Model.CalculatorRunDetails;

    var backLinkModel = new BackLinkPartialViewModel
            {
                BackLink = Model.BackLink,
                CurrentUser = Model.CurrentUser,
                RunId = calcDetails.RunId
            };

  
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/common.js"></script>
<partial name="_BackLinkPartialNew" model="backLinkModel" />

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @using (Html.BeginForm(ActionNames.Submit, ControllerNames.ClassifyingCalculationRun, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CalculatorRunDetails.RunId)
                @Html.HiddenFor(m => m.CurrentUser)

                <partial name="_ValidationSummaryPartial" />

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="approval-code-hint">
                        <legend></legend>
                        <span id="approval-code-hint" class="govuk-caption-l">@calcDetails.RunName</span>
                        <h1 class="govuk-heading-l">Classify calculation run</h1>

                        <table class="govuk-table" aria-describedby="table-description-calc">
                            <caption id="table-description-calc" class="govuk-visually-hidden">
                                Details of the calculation run including financial year, calculation ID, run date, and time.
                            </caption>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Financial year</th>
                                    <td class="govuk-table__cell">@calcDetails.FinancialYear</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Calculation ID</th>
                                    <td class="govuk-table__cell">@calcDetails.RunId</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Run date and time</th>
                                    <td class="govuk-table__cell">@calcDetails.CreatedAt.ToString("dd MMM yyyy") at @calcDetails.CreatedAt.ToString("HH:mm")</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

                        <div class="govuk-form-group @(ViewData.HasErrorFor(nameof(Model.ClassifyRunType)) ? "govuk-form-group--error" : "")">
                            <fieldset class="govuk-fieldset" aria-describedby="approval-code-hint" id=@nameof(Model.ClassifyRunType)>
                                <legend class="govuk-label govuk-fieldset__legend govuk-fieldset__legend--l"></legend>

                                @Html.ValidationMessageFor(model => model.ClassifyRunType, "", new { @class = "govuk-error-message" })

                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(model => model.ClassifyRunType, ClassifyRunType.InitialRun, new { @class = "govuk-radios__input", id = "ClassifyRunType_InitialRun" })
                                        <label class="govuk-label govuk-radios__label" for="ClassifyRunType_InitialRun">
                                            <strong>Initial run</strong><br />
                                            <p class="govuk-body-s" style="margin-bottom: 0;">
                                                The first official mandatory run of the financial year, used as the baseline for all future recalculations. This run generates an initial billing file for invoicing.
                                            </p>
                                        </label>
                                    </div>

                                    <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(model => model.ClassifyRunType, ClassifyRunType.TestRun, new { @class = "govuk-radios__input", id = "ClassifyRunType_TestRun" })
                                        <label class="govuk-label govuk-radios__label" for="ClassifyRunType_TestRun">
                                            <strong>Test run</strong><br />
                                            <p class="govuk-body-s" style="margin-bottom: 0;">
                                                An unofficial run to view the calculation results without generating a billing file for invoicing.
                                            </p>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                    <br />

                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                Important
                            </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <p class="govuk-body-s">
                                <strong>Interim recalculation run</strong><br />
                                An optional run, only available after the initial run.
                            </p>
                            <p class="govuk-body-s">
                                <strong>Final recalculation run</strong><br />
                                An optional run, only available if no other final recalculation or later run has been classified this year.
                            </p>
                            <p class="govuk-body-s">
                                <strong>Final run</strong><br />
                                A mandatory run, only available if no other final run or later run has been classified this year.
                            </p>
                        </div>
                    </div>
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            You cannot remove a run's classification after the billing file has been issued. Once classified, any previous unclassified runs can no longer be classified.
                        </strong>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Confirm classification
                    </button>

                    <a href="@Url.Action(ActionNames.Index,ControllerNames.Dashboard)" class="govuk-link govuk-!-margin-left-4">@ActionLinkLabels.ReturnToDashBoard</a>
                </div>
            }
        </div>
    </div>
</main>