@using EPR.Calculator.Frontend.Constants
@using EPR.Calculator.Frontend.ViewModels
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model CalculatorRunDetailsNewViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Download.js"></script>
<partial name="_BackLinkPartial" model="(Model.BackLink, Model.CurrentUser)" />
<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row calculator-details">
        <div class="govuk-grid-column-two-thirds">
            @using (Html.BeginForm(ActionNames.Submit, ControllerNames.CalculationRunDetails, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("Data.RunId", Model.Data.RunId)
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="approval-code-hint">
                        <legend class="govuk-caption-l">
                            @Model.Data.RunName
                        </legend>
                        <h1 class="govuk-heading-l">Calculation run details</h1>
                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--invisible">
                        <h3 class="govuk-body-m">Download the results file to review the calculation run offline. When you are ready, return to classify or delete it.</h3>

                        <table class="govuk-table" aria-describedby="table-description">
                            <caption id="table-description" class="govuk-visually-hidden">
                                Details of the calculation run including financial year, calculation ID, run date, and created by.
                            </caption>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Financial year</th>
                                    <td class="govuk-table__cell">@Model.Data.FinancialYear</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Calculation ID</th>
                                    <td class="govuk-table__cell">@Model.Data.RunId</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Run date and time</th>
                                    <td class="govuk-table__cell">@Model.Data.CreatedAt.ToString("dd MMM yyyy") at @Model.Data.CreatedAt.ToString("HH:mm")</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Run by</th>
                                    <td class="govuk-table__cell">@Model.Data.CreatedBy</td>
                                </tr>
                            </tbody>
                        </table>

                        <h2 class="govuk-heading-m">Downloads</h2>
                        <p class="govuk-body">Download files related to this calculation run.</p>

                        <button type="submit" id="downloadResultFileBtn" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Results file
                        </button>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <h2 class="govuk-heading-m">What do you want to do next?</h2>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(model => model.SelectedCalcRunOption, CommonEnums.CalculationRunOption.OutputClassify, new { @class = "govuk-radios__input", id = "outputClassify" })
                                <label class="govuk-label govuk-radios__label" for="outputClassify">
                                    <strong>Classify</strong><br />
                                    <p class="govuk-body-s" style="margin-bottom: 0;">Choose a classification to process this calculation run</p>
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(model => model.SelectedCalcRunOption, CommonEnums.CalculationRunOption.OutputDelete, new { @class = "govuk-radios__input", id = "outputDelete" })
                                <label class="govuk-label govuk-radios__label" for="outputDelete">
                                    <strong>Delete</strong><br />
                                    <p class="govuk-body-s" style="margin-bottom: 0;">Remove this calculation run if it's no longer needed</p>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <div class="govuk-button-group">
                        <button type="Submit" class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                    </div>

                    <a href="@Url.Action(ActionNames.Index,ControllerNames.Dashboard)" class="govuk-link govuk-!-margin-left-4">@ActionLinkLabels.ReturnToDashBoard</a>
                </div>
            }
        </div>
    </div>
</main>