@using EPR.Calculator.Frontend.Enums
@using EPR.Calculator.Frontend.Extensions
@model BillingInstructionsViewModel

<vc:user-nav
    back-link="@Url.Action(ActionNames.Index, ControllerNames.CalculationRunOverview, new { runId = Model.CalculationRun.Id })"
    allowed-back-links="@(new [] { Url.Action(ActionNames.Index, ControllerNames.ClassifyRunConfirmation, new { runId = Model.CalculationRun.Id })})"
/>

<partial name="_BillingInstructionProgressBanner" model="Model" />

<div class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content">
    <h1 class="govuk-visually-hidden">Select organisations to process</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <br>
            <span class="govuk-caption-l">@Model.CalculationRun.Name</span>
            <h1 class="govuk-heading-l">Confirm billing instructions</h1>

            @using (Html.BeginRouteForm(routeName: RouteNames.BillingInstructionsIndex, routeValues: new { runId = Model.CalculationRun.Id, }, method: FormMethod.Get))
            {
                <p class="govuk-body-m">
                    These billing instructions match those in the results file. Use this screen to confirm
                    which instructions you want to accept or reject.
                </p>
                <p class="govuk-body-m">Your changes are saved automatically, so you can return to this screen at any time. Once all instructions have been accepted or rejected, you'll be able to generate a draft billing file. If you reject any instructions, you'll need to give a reason on the next screen.</p>

                <div class="search-panel">
                    <div class="govuk-form-group">
                        <h2 class="govuk-heading-m">Search for an organisation</h2>
                        <label class="govuk-label" for="OrganisationId">
                            Enter an organisation ID to find a billing instruction.
                        </label>

                        <div class="search-input-group">
                            <input class="govuk-input" id="OrganisationId" name="organisationId" type="search" style="flex: 1;" value="@Model.OrganisationId" />
                            <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-bottom: 0px;">
                                Search
                            </button>
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" id="filter-by-billing-instruction">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Filter by billing instruction
                            </legend>

                            <div class="filter-grid govuk-checkboxes govuk-checkboxes--small">
                                @foreach (var item in Enum.GetValues<BillingInstruction>())
                                {
                                    var isChecked = Model.BillingInstructions.Contains(item);
                                    Model.InstructionCounts.TryGetValue(item, out var count);
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" id="billingInstructions@(item)" name="billingInstructions" value="@item" @(isChecked ? "checked" : "") onchange="this.form.submit();" />
                                        <label class="govuk-label govuk-checkboxes__label" for="billingInstructions@(item)">
                                            @item.GetDisplayName() (@count)
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" id="filter-by-billing-status">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Filter by status
                            </legend>

                            <div class="filter-grid govuk-checkboxes govuk-checkboxes--small">
                                @foreach (var item in Enum.GetValues<BillingStatus>().Where(x => x != BillingStatus.Noaction) )
                                {
                                    bool isChecked = Model.BillingStatuses.Contains(item);
                                    Model.StatusCounts.TryGetValue(item, out var count);
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" id="billingStatuses@(item)" name="billingStatuses" value="@item" @(isChecked ? "checked" : "") onchange="this.form.submit();" />
                                        <label class="govuk-label govuk-checkboxes__label" for="billingStatuses@(item)">
                                            @item.GetDisplayName() (@count)
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group">
                        <a href="@Url.RouteUrl(
                            RouteNames.BillingInstructionsIndex, new RouteValueDictionary {
                                ["runId"] = Model.CalculationRun.Id,
                                ["pageSize"] = @Model.TablePaginationModel?.PageSize })" class="govuk-button govuk-button--inverse" style="margin-bottom: 0px;">
                            Clear filters
                        </a>
                    </div>
                </div>

                <input type="hidden" name="pageSize" value="@Model.TablePaginationModel?.PageSize" />
            }
        </div>
    </div>

    <div class="align-checkbox">
        @using (Html.BeginForm(ActionNames.SelectAllPage, null, FormMethod.Post))
        {
            <div class="govuk-form-group govuk-!-margin-bottom-4">
                <div class="govuk-checkboxes govuk-checkboxes--small flex-wrap">
                    <div class="govuk-checkboxes__item checkbox-item-label">
                        @Html.CheckBoxFor(m => m.OrganisationSelections.SelectPage, new { name = "SelectPage", @class = "govuk-checkboxes__input", onchange = "this.form.submit();" })
                        <label class="govuk-label govuk-checkboxes__label" for="OrganisationSelections_SelectPage">
                            Select all records on this page
                        </label>
                        @foreach (var status in Model.BillingStatuses)
                        {
                            <input type="hidden" name="billingStatuses" value="@status" />
                        }
                        @foreach (BillingInstruction billingInstruction in Model.BillingInstructions)
                        {
                            <input type="hidden" name="billingInstructions" value="@billingInstruction" />
                        }
                        <input type="hidden" name="organisationId" value="@Model.OrganisationId" />
                        <input type="hidden" name="pageSize" value="@Model.TablePaginationModel?.PageSize" />
                        <input type="hidden" name="currentPage" value="@Model.TablePaginationModel?.CurrentPage" />
                        <input type="hidden" name="CalculationRun.Id" value="@Model.CalculationRun.Id" />
                        <input type="hidden" name="CalculationRun.Name" value="@Model.CalculationRun.Name" />
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm(ActionNames.SelectAll, null, FormMethod.Post))
        {
            <div class="govuk-form-group govuk-!-margin-bottom-4">
                <div class="govuk-checkboxes govuk-checkboxes--small flex-wrap">
                    <div class="govuk-checkboxes__item">
                        @Html.CheckBoxFor(m => m.OrganisationSelections.SelectAll, new { name = "SelectAll", @class = "govuk-checkboxes__input", onchange = "this.form.submit();" })
                        <label class="govuk-label govuk-checkboxes__label" for="OrganisationSelections_SelectAll" style="max-width: 100%; padding-right: 0px;">
                            Select all @Model.ProducerIds?.Count() records
                        </label>
                        @foreach (var status in Model.BillingStatuses)
                        {
                            <input type="hidden" name="billingStatuses" value="@status" />
                        }
                        @foreach (BillingInstruction billingInstruction in Model.BillingInstructions)
                        {
                            <input type="hidden" name="billingInstructions" value="@billingInstruction" />
                        }
                        <input type="hidden" name="pageSize" value="@Model.TablePaginationModel?.PageSize" />
                        <input type="hidden" name="currentPage" value="@Model.TablePaginationModel?.CurrentPage" />
                        <input type="hidden" name="organisationId" value="@Model.OrganisationId" />
                        <input type="hidden" name="CalculationRun.Id" value="@Model.CalculationRun.Id" />
                        <input type="hidden" name="CalculationRun.Name" value="@Model.CalculationRun.Name" />
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="_BillingInstructionTable" model="Model" />

    <div class="govuk-button-group">
        <form asp-action="AcceptSelected" asp-controller="BillingInstructions" method="post" onsubmit="return checkHasProducerIds();">
            <button type="submit" class="govuk-button" data-module="govuk-button" id="accept-selection-btn">
                Accept selected
            </button>
            <input type="hidden" name="runId" value="@Model.CalculationRun.Id" />
        </form>
        <form asp-action="RejectSelected" asp-controller="BillingInstructions" method="post" onsubmit="return checkHasProducerIds();">
            <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" id="reject-selection-btn">
                Reject selected
            </button>
            <input type="hidden" name="runId" value="@Model.CalculationRun.Id" />
        </form>
        <form asp-action="ClearSelection" asp-controller="BillingInstructions" method="post" onsubmit="return checkHasProducerIds();">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="clear-selection-btn">
                Clear selection
            </button>
            <input type="hidden" name="runId" value="@Model.CalculationRun.Id" />
            <input type="hidden" name="pageSize" value="@Model.TablePaginationModel?.PageSize" />
            <input type="hidden" name="currentPage" value="@Model.TablePaginationModel?.CurrentPage" />
        </form>
    </div>

    @{
        Model.StatusCounts.TryGetValue(BillingStatus.Pending, out var pendingCount);
    }

    @if (pendingCount == 0 && Model.TotalRecords > 0)
    {
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h2 class="govuk-heading-m">@BillingInstructionConstants.BillingNextStep</h2>
        <p class="govuk-body-m">@BillingInstructionConstants.BillingNextStepText</p>
        @using (Html.BeginForm(ActionNames.GenerateDraftBillingFile, ControllerNames.BillingInstructionsController, FormMethod.Post))
        {
            <button class="govuk-button" type="submit" data-module="govuk-button" id="generate-billing-instruction">
                @BillingInstructionConstants.GenerateDraftBillingFile
            </button>
            <input type="hidden" name="runId" value="@Model.CalculationRun.Id" />
        }
    }

    <div class="govuk-button-group">
        <a href="@Url.Action("Index", "Dashboard")" class="govuk-link">Return to the dashboard</a>
    </div>
</div>

<script type="text/javascript">
    function checkHasProducerIds() {
        return document.getElementById('OrganisationSelections_SelectAll').checked ||
               Array.from(document.querySelectorAll('.record-checkbox')).some(checkbox => checkbox.checked)
    }
</script>
