@using EPR.Calculator.Frontend.Constants
@using EPR.Calculator.Frontend.ViewModels
@model DashboardViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <p></p>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-body-s govuk-!-margin-top-4">
        <div class="account-info">
            <span class="your-name" id="bannerUserName">@Model.CurrentUser</span>
            <a asp-controller="Account" asp-action="Signout" asp-area="MicrosoftIdentity" class="account-link">Sign out</a>
        </div>
    </div>
</div>

<div class="govuk-grid-row dashboard-page">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Calculate packaging payments</h1>
        <div class="govuk-grid-row tile-group">
            <div class="govuk-grid-column-one-third tile">
                <a href="/DefaultParameters" class="govuk-link govuk-link--no-visited-state">
                    <span class="govuk-heading-m heading">Manage default parameters</span>
                    <span class="govuk-body more-info">View or update the parameters</span>
                </a>
            </div>
            <div class="govuk-grid-column-one-third tile">
                <a href="/LocalAuthorityDisposalCosts" class="govuk-link govuk-link--no-visited-state">
                    <span class="govuk-heading-m heading">Manage local authority disposal costs</span>
                    <span class="govuk-body more-info">View or update disposal costs</span>
                </a>
            </div>
            <div class="govuk-grid-column-one-third tile">
                <a href="/CalculationRunName" class="govuk-link govuk-link--no-visited-state">
                    <span class="govuk-heading-m heading">Run the calculator</span>
                    <span class="govuk-body more-info">Use the default parameters or upload a set of temporary parameters</span>
                </a>
            </div>
        </div>

        <h2 class="govuk-heading-l govuk-!-margin-top-3">Calculations made in this financial year</h2>
        @if (Model == null)
        {
            <p class="govuk-body">There are no calculations for this financial year.</p>
        }
        else
        {
            <dl class="govuk-summary-list">
                @foreach (var run in Model.Calculations)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                                @if (run.ShowErrorLink)
                                {
                                    <a href="@Url.Action(ActionNames.Error, "CalculationRunDetails")" class="govuk-link govuk-link--no-visited-state">@run.Name</a>
                                }
                                else if (run.ShowRunDetailLink)
                                {
                                    <a href="@Url.Action("Index", "CalculationRunDetails",new {runId=@run.Id, calcName=run.Name, createdAt = @run.CreatedAt})" class="govuk-link govuk-link--no-visited-state">@run.Name</a>
                                }
                                else
                                {
                                    @run.Name
                                }
                            </h3>
                            <p class="govuk-body">
                                Calculation ID: @run.Id
                                <br />
                                Date: @run.CreatedAt
                                <br />
                                Run by: @run.CreatedBy
                            </p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            @if (run.Status is "RUNNING" or "ERROR")
                            {
                                <strong class="@run.TagStyle">
                                    @run.Status
                                </strong>
                            }
                        </dd>
                    </div>
                }
            </dl>
        }
    </div>
</div>