@using EPR.Calculator.Frontend.Constants;

@{
    Layout = "_Layout";
    var BackLink = "Dashboard";
    var items = ViewBag.Data;
    var communicationData = ViewBag.CommunicationData;
    var operatingCosts = ViewBag.OperatingCosts;
    var preparationCosts = ViewBag.PreparationCosts;
    var schemeSetupCosts = ViewBag.SchemeSetupCosts;
    var lateReportingTonnage = ViewBag.LateReportingTonnage;
    var materialityThreshold = ViewBag.MaterialityThreshold;
    var badDebtProvision = ViewBag.BadDebtProvision;
    var levy = ViewBag.Levy;
    var tonnageChange = ViewBag.TonnageChange;
}

<div class="govuk-width-container ">

    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">


        <partial name="_BackLinkPartial" model="BackLink" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                @if(ViewBag.IsDataAvailable)
                {
                    <span class="govuk-caption-l">Last updated by Jamie Roberts at <strong>10:01</strong> on 28 June 2025</span><br>
                    <h1 class="govuk-heading-xl">Default calculator parameters</h1>

                    <h2 class="govuk-heading-l">@ParameterCategory.CommunicationCosts</h2>
                    <partial name="_ItemListPartial" model="communicationData" />


                    <h2 class="govuk-heading-l">@ParameterCategory.SchemeAdministratorOperatingCosts</h2>
                    <partial name="_ItemListPartial" model="operatingCosts" />


                    <h2 class="govuk-heading-l">@ParameterCategory.LocalAuthorityDataPreparationCosts</h2>
                    <partial name="_ItemListPartial" model="preparationCosts" />


                    <h2 class="govuk-heading-l">@ParameterCategory.SchemeSetupCosts</h2>
                    <partial name="_ItemListPartial" model="schemeSetupCosts" />             


                    <h2 class="govuk-heading-l">@ParameterCategory.LateReportingTonnage</h2>
                    <partial name="_ItemListPartial" model="lateReportingTonnage" />


                    <h2 class="govuk-heading-l">Bad debt provision</h2>
                    <partial name="_ItemListPartial" model="badDebtProvision" />

                    <h2 class="govuk-heading-l">@ParameterCategory.Levy</h2>
                    <partial name="_ItemListPartial" model="levy" />


                    <h2 class="govuk-heading-l">@ParameterCategory.MaterialityThreshold</h2>
                    <partial name="_ItemListPartial" model="materialityThreshold" />

               

                    <h2 class="govuk-heading-l">@ParameterCategory.TonnageChangeThreshold</h2>
                    <partial name="_ItemListPartial" model="tonnageChange" />
                }
                else
                {
                    <p class="govuk-body">@ViewBag.NoDataMessage</p>
                }


                <form action="/form-handler" method="post" novalidate="">
                    <input type="hidden" name="answers-checked" value="true">
                    <div class="govuk-button-group">
                        <a href="@Url.Action("Index", "UploadFile")" class="govuk-button" type="submit">Upload new default parameters</a>
                        <a href="@Url.Action("Index", "Dashboard")" class="govuk-link" href="dash">Return to the dashboard</a>
                    </div>
                </form>


            </div>
        </div>





    </main>
</div>

