@model AcceptRejectConfirmationViewModel

<partial name="_BackLinkPartialNew" model="Model.BackLinkViewModel" />

<div class="govuk-width-container ">  

    @using (Html.BeginForm(ActionNames.Index, ControllerNames.ReasonForRejectionController, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("runId", Model.CalculationRunId)
        @Html.Hidden("BackLink", Model.BackLinkViewModel)
        @Html.Hidden("CurrentUser", Model.CurrentUser)
        @Html.Hidden("CalculationRunId", Model.CalculationRunId)
        @Html.Hidden("Status", Model.Status)
        @Html.Hidden("CalculationRunName", Model.CalculationRunName)
        <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="@(ViewContext.ModelState.IsValid ?  "govuk-form-group govuk-grid-column-full" : "govuk-form-group govuk-form-group--error" )">
                        <span class="govuk-caption-xl">@Model.CalculationRunName</span>
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Give a reason for rejecting billing instructions</h1>
                    <p class="@(ViewContext.ModelState.IsValid ? "govuk-body govuk-!-margin-bottom-2" : "govuk-body govuk-!-margin-bottom-2 govuk-error-message" )">Provide a reason that applies to all the billing instructions you selected for rejection.</p>
                        <div class="govuk-grid-column-two-thirds" style="padding:0px;">

                        <div class="govuk-form-group">
                            @Html.ValidationMessageFor(m => m.Reason, "", new { @class = "govuk-error-message" })
                            @Html.LabelFor(m => m.Reason, new { style = "display: none;" } )
                            @Html.TextAreaFor(m => m.Reason, new { @class = "govuk-textarea form-control text-area-margin-bottom", @aria_label = "Free‑text box to record why you rejected the selected instructions.", rows = 5 })
                        </div>

                    </div>
                </div>
                <div class="govuk-form-group">
                    <button type="submit" class="@(ViewContext.ModelState.IsValid ? "govuk-button govuk-button--secondary  button-margin" : "govuk-button govuk-button--secondary")" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    }
</div>