@using Microsoft.AspNetCore.Http
@using EPR.Calculator.Frontend.Extensions
@using EPR.Calculator.Frontend.Constants
@inject IHttpContextAccessor HttpContextAccessor
@model CalculatorRunOverviewViewModel
@{
    var calcDetails = Model.CalculatorRunDetails;    
    var backLinkModel = new BackLinkPartialViewModel
            {
                BackLink = Model.BackLink,
                CurrentUser = Model.CurrentUser,
                RunId = calcDetails.RunId
            };
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Download.js"></script>
<partial name="_BackLinkPartialNew" model="backLinkModel" />
<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row CalculationRunOverview">
        <div class="govuk-grid-column-two-thirds">
            @using (Html.BeginForm(ActionNames.Submit, ControllerNames.CalculationRunOverview, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("RunId", Model.CalculatorRunDetails.RunId)
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-caption-l">
                                    @Model.CalculatorRunDetails.RunName
                                </legend>
                                <h1 class="govuk-heading-l">Calculation run details</h1>

                                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--invisible">

                                <table class="govuk-table">
                                    <caption class="govuk-visually-hidden">
                                        Details of the calculation run including financial year, calculation ID, run date, and created by.
                                    </caption>
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Financial year</th>
                                            <td class="govuk-table__cell">@calcDetails.FinancialYear</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Classification</th>
                                            <td class="govuk-table__cell">@calcDetails.RunClassificationId.GetDisplayName()</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Calculation ID</th>
                                            <td class="govuk-table__cell">@calcDetails.RunId</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Run date and time</th>
                                            <td class="govuk-table__cell">@calcDetails.CreatedAt.ToUKDateTimeDisplay()</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Run by</th>
                                            <td class="govuk-table__cell">@calcDetails.CreatedBy</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2 class="govuk-heading-m">Downloads</h2>

                                <p class="govuk-body">Download files related to this calculation run.</p>
                                <div class="govuk-button-group">
                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
                                            onclick="downloadFile('@Model.DownloadResultURL', '@Model.DownloadErrorURL', event, '@Model.DownloadTimeout', '@HttpContextAccessor.HttpContext?.Session.GetString("accessToken")');">
                                        Results file
                                    </button>
                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
                                            onclick="downloadFile('@Model.DownloadCsvBillingURL', '@Model.DownloadErrorURL', event, '@Model.DownloadTimeout', '@HttpContextAccessor.HttpContext?.Session.GetString("accessToken")');">
                                        Draft billing file
                                    </button>
                                </div>
                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                <h2 class="govuk-heading-m">Next step</h2>

                                <p class="govuk-body">Confirm that you want to send the billing file to the FSS. </p>

                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-visually-hidden">Warning</span>
                                        Once sent, you will not be able to amend the billing file.
                                    </strong>
                                </div>

                                <div class="govuk-button-group">
                                    <div class="govuk-button-group">
                                        <button type="Submit" @(calcDetails.IsBillingFileGenerating == true ?  "disabled" : "") class="govuk-button" data-module="govuk-button">
                                            Continue
                                        </button>
                                    </div>
                                    <a href="@Url.Action(ActionNames.Index,ControllerNames.Dashboard)" class="govuk-link govuk-!-margin-left-4">@ActionLinkLabels.ReturnToDashBoard</a>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            }
        </div>
    </div>
</main>
