@using EPR.Calculator.Frontend.ViewModels
@using EPR.Calculator.Frontend.Constants
@model ClassifyCalculationViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_BackLinkPartial" model="(Model.BackLink, Model.CurrentUser)" />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("classification", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("RunId", Model.RunId)
            <div class="govuk-form-group">
                <!-- Add the element with the ID 'approval-code-hint' -->
                <div id="approval-code-hint" class="govuk-hint"></div>

                <fieldset class="govuk-fieldset" aria-describedby="approval-code-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
                    <span class="govuk-caption-l">@Model.CalcName</span>
                    <h1 class="govuk-heading-l">Classify calculation run</h1>

                    <table class="govuk-table">
                        <caption id="table-description"></caption>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Financial year</th>
                                <td class="govuk-table__cell">@Html.DisplayFor(model => model.FinancialYear)</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Calculation ID</th>
                                <td class="govuk-table__cell">@Html.DisplayFor(model => model.CalculationId)</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Run date and time</th>
                                <td class="govuk-table__cell">@Html.DisplayFor(model => model.RunDate)</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

                    <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            @Html.RadioButton("calcRun", "outputInitialRun", new { @class = "govuk-radios__input", id = "interimRecalculationRun" })
                            <label class="govuk-label govuk-radios__label" for="interimRecalculationRun">
                                <strong>Interim recalculation run</strong><br />
                                <p class="govuk-body-s" style="margin-bottom: 0;">An official, optional run that can happen any time after the initial run, including after final runs. It can be run multiple times and generate a billing file. It can be used to process late or updated producer data.</p>
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            @Html.RadioButton("calcRun", "outputTestRun", new { @class = "govuk-radios__input", id = "finalRecalculationRun" })
                            <label class="govuk-label govuk-radios__label" for="finalRecalculationRun">
                                <strong>Final recalculation run</strong><br />
                                <p class="govuk-body-s" style="margin-bottom: 0;">An official, optional run using corrected data. It can produce a billing file for invoicing and is expected to be the last recalculation.</p>
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            @Html.RadioButton("calcRun", "outputTestRun", new { @class = "govuk-radios__input", id = "finalRun" })
                            <label class="govuk-label govuk-radios__label" for="finalRun">
                                <strong>Final run</strong><br />
                                <p class="govuk-body-s" style="margin-bottom: 0;">An official, mandatory run at the end of the financial year that can produce a billing file for invoicing. Corrections after this must use the interim recalculation classification.</p>
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            @Html.RadioButton("calcRun", "outputTestRun", new { @class = "govuk-radios__input", id = "testRun" })
                            <label class="govuk-label govuk-radios__label" for="testRun">
                                <strong>Test run</strong><br />
                                <p class="govuk-body-s" style="margin-bottom: 0;">An unofficial run to view the calculation results without generating a billing file for invoicing.</p>
                            </label>
                        </div>

                    </div>
                </fieldset>
                <br />
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-body-s">
                            <strong>Initial run</strong><br />
                            Already classified for financial year @Html.DisplayFor(model => model.FinancialYear) on @Html.DisplayFor(model => model.RunDate).
                        </p>
                    </div>
                </div>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        You cannot reclassify a run after the billing file has been issued. Once classified, any previous unclassified runs can no longer be classified.
                    </strong>
                </div>
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Confirm classification
                    </button>
                    <a href="@Url.Action(ActionNames.Index,ControllerNames.Dashboard)" class="govuk-link">@ActionLinkLabels.ReturnToDashBoard</a>
                </div>
            </div>
        }
    </div>
</div>