@model EPR.Calculator.Frontend.ViewModels.AcceptInvoiceInstructionsViewModel

@{
    ViewData["Title"] = "Accept all invoice instructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_CurrentUserPartial" model="@Model.CurrentUser" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <br />

        @using (Html.BeginForm("AcceptInvoiceInstructions", "PaymentCalculator", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ReturnUrl)
            @Html.HiddenFor(m => m.CalculationRunTitle)
            @Html.HiddenFor(m => m.CurrentUser)

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="acceptance-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.CalculationRunTitle</span>
                        <h1 class="govuk-heading-l">Accept all invoice instructions</h1>
                    </legend>

                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--invisible" />

                    <p class="govuk-body">
                        The results file contains invoice instructions. You must accept all instructions before generating a draft billing file.
                    </p>

                    <h2 class="govuk-heading-m">Confirm acceptance</h2>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input type="hidden" name="AcceptAll" value="false" />
                            @Html.CheckBoxFor(m => m.AcceptAll, new { @class = "govuk-checkboxes__input", id = "AcceptAll" })
                            <label class="govuk-label govuk-checkboxes__label" for="AcceptAll">
                                I confirm that I have accepted all invoice instructions in the results file.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Accept and generate draft billing file
                </button>

                <a class="govuk-link" href="@Model.ReturnUrl">Return to previous step</a>
            </div>
        }
    </div>
</div>
