@using EPR.Calculator.Frontend.Constants
@model EPR.Calculator.Frontend.ViewModels.ClassifyAfterFinalRunViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/common.js"></script>
<partial name="_BackLinkPartial" model="Model.BackLinkViewModel" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(ActionNames.Index, ControllerNames.ClassifyRunConfirmation, new { runId = @Model.CalculatorRunStatus.RunId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend></legend>
                    <span id="approval-code-hint-final-run" class="govuk-caption-l">@Model.CalculatorRunStatus.CalcName</span>
                    <h1 class="govuk-heading-l">Classify calculation run</h1>

                    <table class="govuk-table">
                        <caption class="govuk-visually-hidden" id="table-description-Detail-Calculation">Details of the calculation run</caption>
                        <tbody class="govuk-table__body">
                            <tr id="trFinancialYear" class="govuk-table__row">
                                <th scope="row" id="thFinancialYear" class="govuk-table__header">Financial year</th>
                                <td id="tdFinancialYear" class="govuk-table__cell">@Model.CalculatorRunStatus.FinancialYear</td>
                            </tr>
                            <tr id="trCalcRunId" class="govuk-table__row">
                                <th scope="row" id="thCalcRunId" class="govuk-table__header">Calculation ID</th>
                                <td id="tdCalcRunId" class="govuk-table__cell">@Model.CalculatorRunStatus.RunId</td>
                            </tr>
                            <tr id="trRunDatetime" class="govuk-table__row">
                                <th scope="row" id="thRunDatetime" class="govuk-table__header">Run date and time</th>
                                <td id="tdRunDatetime" class="govuk-table__cell">@Model.CalculatorRunStatus.CreatedDate at @Model.CalculatorRunStatus.CreatedTime</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr id="hrInvisible" class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
                    <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(model => model.SelectedCalcRunOption, "outputInitialRunClassifyFinal", new { @class = "govuk-radios__input", id = "interimRecalculationRunClassifyFinal" })
                            <label class="govuk-label govuk-radios__label" for="interimRecalculationRunClassifyFinal">
                                <strong>Interim recalculation run</strong><br />
                                <p class="govuk-body-s govuk-!-margin-bottom-0">An official, optional run that can happen any time after the initial run, including after final runs. It can be run multiple times and generate a billing file. It can be used to process late or updated producer data.
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(model => model.SelectedCalcRunOption, "outputTestRunClassifyFinal", new { @class = "govuk-radios__input", id = "testRunClassifyFinal" })
                            <label class="govuk-label govuk-radios__label" for="testRunClassifyFinal">
                                <strong>Test run</strong><br />
                                <p class="govuk-body-s govuk-!-margin-bottom-0">An unofficial run to view the calculation results without generating a billing file for invoicing.</p>
                            </label>
                        </div>

                    </div>
                </fieldset>
                <br />
                <div id="divNotification" class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title-classify-final" data-module="govuk-notification-banner">
                    <div id="divNotificationHeader" class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-classify-final">
                            Important
                        </h2>
                    </div>
                    <div id="divNotificationContent" class="govuk-notification-banner__content">
                        <p id="pNotificationContent" class="govuk-body-s">
                            <strong>Initial run</strong><br />
                            Already classified for financial year 2024-25 on 1 May 2024
                        </p>
                        <p id="pNotificationContentReclacRun" class="govuk-body-s">
                            <strong>Final recalculation run</strong><br />
                            Not available after final run.
                        </p>
                        <p id="pNotificationContentFinalRun" class="govuk-body-s">
                            <strong>Final run</strong><br />
                            Already classified for financial year 2024-25 on 31 March 2025
                        </p>
                    </div>
                </div>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        You cannot reclassify a run after the billing file has been issued. Once classified, any previous unclassified runs can no longer be classified.
                    </strong>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm classification
                </button>
                <a href="@Url.Action(ActionNames.Index, ControllerNames.Dashboard)" class="govuk-link govuk-!-margin-left-4">@ActionLinkLabels.ReturnToDashBoard</a>
            </div>
        }
    </div>
</div>